<br>
<div><%= form_for(@other_expense, as: :other_expense, url: trip_other_expense_path(@trip)) do |f| %>
    
    <%= f.label :date %>
    <%= f.text_field :day %><br>
      <%= f.label :description %>
    <%= f.text_field :description %><br>
    <%= f.label :amount %>
    <%= f.text_field :amount %><br>
    <%= f.submit value="Add" %>

<% end %>
</div>