<h3>Edit Other Expense</h3>
<br>
<div><table><%= form_for(@other_expense, as: :other_expense, url: trip_other_expense_path(@trip)) do |f| %>
       
   <tr><td> <%= f.label :date, "Date: " %></td><td>
    <%= f.text_field :day, :id=>"datepicker" %></td></tr>
      <tr><td><%= f.label :description, "Description: " %></td><td>
    <%= f.text_field :description %></td></tr>
      <tr><td><%= f.label :amount, "Amount: " %></td><td>
    <%= f.text_field :amount %></td></tr>
     <tr><td></td><td> <br><%= f.submit %></td></tr>

<% end %></table>
</div>

<div style="float:left;margin-left: 8px">
<%= link_to '<button type="button">Cancel</button>'.html_safe, trip_other_expenses_path(@trip) %></div>