 <center><h1>Other</h1>

<table>
  <tr>

    <th>DAy</th>

     <th>Discription</th>
    <th>Amount</th>

  </tr>



 <% @trip.other_expenses.each do |other_expense| %>

    <tr>
    
      <td><%= other_expense.day %></td>
      <td><%= other_expense.description %></td>
      <td><%= other_expense.amount %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, [@trip,other_expense] %></td>

    <td> <%= link_to '<button type="button">Delete</button>'.html_safe, [other_expense.trip, other_expense],
              method: :delete,
              data: { confirm: 'Delete other_expense?' } %></td>
    </tr>


  <% end %>
</table>
   
   <td><%= link_to '<button type="button">back</button>'.html_safe, trip_path(@trip) %></td>
</center>
