<br>
<center><h1>Other Expenses</h1></center>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Date</th>
         <th>Description</th>
         <th>Amount</th>
      </tr>
   </thead>
   
   <tbody>
      <% @trip.other_expenses.each do |other_expense| %>
         
         <tr>
            <td><%= other_expense.day %></td>
            <td><%= other_expense.description %></td>
            <td>$<%= other_expense.amount %></td>
            <td><%= link_to '<button type="button">Show</button>'.html_safe, [@trip,other_expense] %></td>
            <td> <%= link_to '<button type="button">Delete</button>'.html_safe, [other_expense.trip, other_expense],
              method: :delete,
              data: { confirm: 'Delete other_expense?' } %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<br>

<center>
<%= link_to '<button class="btn2">Add New Expense</button>'.html_safe, new_trip_other_expense_path(@trip) %>
</center>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, trip_path(@trip) %>