
<head>

</head>
<%= form_for @trip do |f| %>
    <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this trip from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>


  <% end %>
    
    <table>
    <tr><td>
    <%= f.label :Trip_number %></td><td>
    <%= f.text_field :tripno %></td></tr>
     <tr><td>
    <%= f.label :Purpose_and_place %></td><td>
    <%= f.text_area :place %></td><tr>

 <tr><td>
    <%= f.label :begindate %></td><td>
    <%= f.text_field :begindate, :id=>"datepicker" %>
    </td></tr>
     <tr><td>
    <%= f.label :begintime %></td><td>
    <%= f.text_field :begintime %></td></tr>

 <tr><td>
       <%= f.label :enddate %></td><td>
    <%= f.text_field :enddate, :id=>"datepicker" %>
    </td></tr>
    
     <tr><td>
    <%= f.label :endtime %></td><td>
    <%= f.text_field :endtime %></td></tr>

 <tr><td>
    <%= f.label :accomp %></td><td>
    <%= f.text_field :accomp %></td></tr>
 <tr><td>
       <%= f.label :Department %></td><td>
    <%= f.text_field :dept %></td></tr>
    
     <tr><td>
    <%= f.label :contact %></td><td>
    <%= f.text_field :contact %></td></tr>

 <tr><td>

    <%= f.label :Phone %></td><td>
    <%= f.text_field :phone %></td></tr>

     <tr><td>
        <%= f.label :Comment %></td><td>
    <%= f.text_area :purpose %></td></tr>

<tr><td></td>
  <td>  <%= f.submit %>
    <%= link_to '<button type="button">Cancel</button>'.html_safe, controller: 'trips', class: 'button' %>
  </td></tr>

<% end %>


  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>