<%= form_for @trip do |f| %>
    <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this trip from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
     <%= f.label :Trip_number %>
    <%= f.text_field :tripno %><br>
    
    <%= f.label :Purpose_and_place %>
    <%= f.text_area :place %><br>


    <%= f.label :begindate %>
    <%= f.text_field :begindate %><br>
    
    <%= f.label :begintime %>
    <%= f.text_field :begintime %><br>

       <%= f.label :enddate %>
    <%= f.text_field :enddate %><br>
    
    <%= f.label :endtime %>
    <%= f.text_field :endtime %><br>


    <%= f.label :accomp %>
    <%= f.text_field :accomp %><br>

       <%= f.label :Department %>
    <%= f.text_field :dept %><br>
    
    <%= f.label :contact %>
    <%= f.text_field :contact %><br>
    <%= f.label :Phone %>
    <%= f.text_field :phone %><br />
        <%= f.label :Comment %>
    <%= f.text_area :purpose %><br>

<br><Br>
    <%= f.submit %>

<% end %>