
<p ><center><h1>
 <% if @trip.user == current_user %>
  <strong>Place : </strong>
  <%= @trip.place %>

  <strong> Purpose: </strong>
  <%= @trip.purpose %>
  </h1>
</p>

<div>

<%= link_to '<button type="button">Add Transaction expense</button>'.html_safe, new_trip_transaction_path(@trip), id: "add_transaction", remote: true %>
<%= link_to '<button type="button">Add transportation expense</button>'.html_safe, new_trip_transportation_path(@trip),id: "add_transportation", remote: true %><br>
<%= link_to '<button type="button">Add Other Expenses</button>'.html_safe, new_trip_other_expense_path(@trip)  %>
<%= link_to '<button type="button">Add registration fee</button>'.html_safe, new_trip_registration_fee_path(@trip) %>
</div>
<hr />
<table>
<tr>

  <td>Download Excel</td><td></td>

  <% rubyxl(@trip) %>
  
  <td> <%= link_to_if (@trip.user == current_user  ) ,'Excel', trip_download_path(@trip) %></td><br>
</tr>
<tr>
<td>Daily Expenses </td>
<td><%= link_to '<button type="button">View transportation </button>'.html_safe, trip_transactions_path(@trip) %></td>
</tr>
<tr>
<%= render @trip.transactions%>
</tr>

<tr>
    <td>Transportation</td>
    <td><%= link_to '<button type="button">View transportation </button>'.html_safe, trip_transportations_path(@trip) %></td>
</tr>
<tr>
<%= render @trip.transportations%>
</tr>

</table>

<p><h2></h2>
    
<br>

</p>
<p><h2>Registration fee</h2>
    <%= render @trip.registration_fees %><br />
    <%= link_to '<button type="button">View registration fees </button>'.html_safe, trip_registration_fees_path(@trip) %><br>
  
</p>
<p><h2>Other Expenses</h2>
    <%= render @trip.other_expenses %>
    <%= link_to '<button type="button">View Other Expenses </button>'.html_safe, trip_other_expenses_path(@trip) %><br>
  
    </p>

<br>


<br><br />


<%= link_to '<button type="button">Edit</button>'.html_safe, edit_trip_path(@trip) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, trip_path(@trip),
              method: :delete,
              data: { confirm: 'Delete trip?' } %>

 
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'trips' %>
 </center><br>
 <%else%>
<strong>Intruder</strong>
<% end %>