<h3>Edit Transportation Expense</h3>
<table>
<%= form_for(@transportation, as: :transportation, url: trip_transportation_path(@trip))  do |f| %>
    
      <tr><td> <%= f.label :date %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :date, :id=>"datepicker" %></td></tr>
   <tr><td><%= f.label :from %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :from %></td></tr>
    <tr><td> <%= f.label :to %></td><td>:&nbsp;&nbsp;
 
    <%= f.text_field :to %></td></tr>
    <tr><td> <%= f.label :mileage %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :mileage %></td></tr>
    <tr><td> <%= f.label :amount %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :amount %></td></tr>
   <tr><td>  <%= f.label :airfare %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :airfare %></td></tr>
    <tr><td> <%= f.label :rental_car %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :rental_car %></td></tr>
    <tr><td> <%= f.label :bus_train %></td><td>:&nbsp;&nbsp;
    <%= f.text_field :bus_train %></td></tr>
<tr><td> </td><td>    <%= f.submit %></td></tr>

<% end %></table>
<div style="float: left; margin-left: 8px">
<%= link_to '<button type="button">Cancel</button>'.html_safe, controller: 'transportations', class: 'button' %></div>