<br>
<center><h1>Transportation Expenses</h1></center>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>From</th>
         <th>To</th>
         <th>Mileage</th>
         <th>Amount</th>
      </tr>
   </thead>
   
   <tbody>
      <% @trip.transportations.each do |transportation| %>
         
         <tr>
            <td><%= transportation.from %></td>
            <td><%= transportation.to %></td>
            <td><%= transportation.mileage %></td>
            <td>$<%= transportation.amount %></td>
            <td><%= link_to '<button type="button">More Info</button>'.html_safe, trip_transportation_path(@trip,transportation) %></td>
            <td> <%= link_to '<button type="button">Delete</button>'.html_safe, [transportation.trip, transportation],
              method: :delete,
              data: { confirm: 'Delete transportation?' } %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<br>

<center>
<%= link_to '<button class="btn2">Add New Expense</button>'.html_safe, new_trip_transportation_path %>
</center>
<br>
<div style="float: left; margin-left: 8px">
<%= link_to '<button type="button">Back</button>'.html_safe, trip_path(@trip) %></div>
  