<br /><p><center>
		From: <%= @transportation.from %>
		To: <%= @transportation.to %>
		Mileage: <%= @transportation.mileage %>
		Amount: $<%= @transportation.amount %>
		Airfare: <%= @transportation.airfare %>
		Rental: <%= @transportation.rental_car %>
		bus_train: <%= @transportation.bus_train %>
		
<%= link_to '<button type="button">Add Receipts</button>'.html_safe, new_trip_transportation_receipt_path(@trip,@transportation) %><br><br />

 <%= link_to '<button type="button">Show Receipts</button>'.html_safe, trip_transportation_receipts_path(@trip, @transportation) %><br><br />
 <%= link_to '<button type="button">BAck</button>'.html_safe, [@trip] %><br><br />
</p>
