<!DOCTYPE html>
<html lang ="en">
  <head>
  <style>
  header, footer{
    padding: 1em;
    background: navy;
    clear: left;
    background-size: 100%,100%

  }
  body{
    background-color: gainsboro;
  }
    
  </style>
    <meta charset = "utf-8">
    <title>TravelWise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >

<header>

   <%= image_tag("IconBanner.png", :alt => "logo", size: "70") %>
  <%= link_to controller: 'welcome' do %>
    <%= image_tag("Travel_Logo.png", :alt => "logo", width: "160", height: "70")%>
  <% end %><br /><hr />

  <%= link_to '<button type="button">Trips</button>'.html_safe, controller: 'trips' %> 
  <%= link_to '<button type="button">Daily Expenses</button>'.html_safe, controller: 'transactions' %>
  <%= link_to '<button type="button">Reports</button>'.html_safe %><br> <!-- ADD CONTROLLER WHEN WE HAVE IT-->
</header>

    <%= yield %>
   
  </body>
</html>