<center>
 <% if @trip.user == current_user %>
  <strong>Place : </strong>
  <%= @trip.place %>

  <strong> Purpose: </strong>
  <%= @trip.purpose %><br />
<% 
=begin %>

	<% @trip.transportations.each do |transportation| %>

		From: <%= transportation.from %></br>
		To: <%= transportation.to %></br>
		Mileage: <%= transportation.mileage %></br>
		Amount: <%= transportation.amount %></br>
		<%= link_to '<button type="button">Delete</button>'.html_safe, [transportation.trip, transportation],
              method: :delete,
              data: { confirm: 'Delete transportation?' } %>
		<% end %>
<% 
=end %>
<%= link_to '<button type="button">View all </button>'.html_safe, trip_transportations_path(@trip) %><br>
<%= link_to '<button type="button">Add transportation expense</button>'.html_safe, new_trip_transportation_path(@trip) %><br>




<%= link_to '<button type="button">Edit</button>'.html_safe, edit_trip_path(@trip) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, trip_path(@trip),
              method: :delete,
              data: { confirm: 'Delete trip?' } %>

 </center><br>
 <%else%>
<strong>Intruder</strong>
<% end %>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'trips' %>
