<br>
<center><h1>Registration Fees</h1></center>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Amount</th>
      </tr>
   </thead>
   
   <tbody>
      <% @trip.registration_fees.each do |registration_fee| %>
         <tr>
            <td><%= registration_fee.name %></td>
            <td><%= registration_fee.amount %></td>
            <td><%= link_to '<button type="button">Show</button>'.html_safe, [@trip,registration_fee] %></td>
            <td> <%= link_to '<button type="button">Delete</button>'.html_safe, [registration_fee.trip, registration_fee],
              method: :delete,
              data: { confirm: 'Delete registration_fee?' } %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<br>

<center>
<%= link_to '<button class="btn2">Add New Registration Fee</button>'.html_safe, new_trip_registration_fee_path(@trip) %>
</center>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, trip_path(@trip) %>

  