<br>	
		<strong>Type:</strong> <%= @registration_fee.name %><br>
		<strong>Amount:</strong> <%= @registration_fee.amount %><br><Br>
		
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_trip_registration_fee_path(@trip,@registration_fee) %> 		
<%= link_to '<button type="button">Add Receipts</button>'.html_safe, new_trip_registration_fee_receipt_path(@trip,@registration_fee) %>
 <%= link_to '<button type="button">Show Receipts</button>'.html_safe, trip_registration_fee_receipts_path(@trip, @registration_fee) %><br><br />
 <div style="float: left; margin-left: 8px">
<%= link_to '<button type="button">Cancel</button>'.html_safe, trip_registration_fees_path(@trip) %>

</div>