 <% if current_user == @trip.user %>
<br>
<center><h1>Daily Expenses</h1>


<table class = "table table-bordered table-striped">
   <thead>.
    <tr>
    <th>Category</th>
    <th>Detail</th>
    <th>Amount</th>
    </tr>
  </thead>
  <tbody>
 <% @inc =0 %>
  <% @trip.transactions.each do |transaction| %>
    <tr>
    <td><%= @inc+=1 %></td>
      <td><%= transactions.dest %></td>
      <td><%= transaction.item %></td>
      <td>$<%= transaction.amount %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, trip_transaction_path(@trip,transaction) %></td>
      <td><%= link_to '<button type="button">Delete</button>'.html_safe, [transaction.trip, transaction],
              method: :delete,
              data: { confirm: 'Delete transaction?' } %></td>

    </tr><% end %>
    </tbody>
 </table>
 Total = $<%= @trip.transactions.sum(:'amount') %><br>
<br>

<center>
<%= link_to '<button class="btn2">Add New Expense</button>'.html_safe, new_trip_transaction_path %>
</center>
<br>
<%else%>
  <% controller.redirect_to trips_path %>
<%end%>
<%= link_to '<button type="button">Back</button>'.html_safe, trip_path(@trip) %>

