<br>
<center><h1>Daily Expenses</h1>

<table>
  <tr>
  <th>S.N</th>
    <th>Category</th>
    <th>Detail</th>
    <th>Amount</th>
  </tr>
 <% @inc =0 %>
  <% @trip.transactions.each do |transaction| %>
    <tr>
    <td><%= @inc+=1 %></td>
    
      <td><%= transaction.item %></td>
      <td>$<%= transaction.amount %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, trip_transaction_path(@trip,transaction) %></td>
      <td><%= link_to '<button type="button">Delete</button>'.html_safe, [transaction.trip, transaction],
              method: :delete,
              data: { confirm: 'Delete transaction?' } %></td>
    </tr>
 

  <% end %>
</table>
Total = $<%= Transaction.sum(:'amount') %><br>
   
  <%= link_to '<button type="button">Add New</button>'.html_safe, new_trip_transaction_path %> 
</center>
  