 <% if current_user == @trip.user %>
<center>
        <strong>Type : </strong>
  <%= @transaction.date %>
    <strong>Type : </strong>
  <%= @transaction.dest %>

  <strong>Detail : </strong>
  <%= @transaction.item %>

  <strong> Amount: </strong>
  $<%= @transaction.amount %>



<%= link_to '<button type="button">Edit</button>'.html_safe, edit_trip_transaction_path(@trip,@transaction) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, trip_transaction_path(@transaction),
              method: :delete,
              data: { confirm: 'Delete data?' } %>
 </center><br>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions' %>
<%else%>
  <% controller.redirect_to trips_path %>
<%end%>