<center>
  <strong> Category: </strong>
  <%= @transaction.dcategory.name %>

  <strong>Detail : </strong>
  <%= @transaction.item %>

  <strong> Amount: </strong>
  $<%= @transaction.amount %>



<%= link_to '<button type="button">Edit</button>'.html_safe, edit_trip_transaction_path(@trip,@transaction) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, trip_transaction_path(@transaction),
              method: :delete,
              data: { confirm: 'Delete data?' } %>
 </center><br>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions' %>