 <% if current_user == @trip.user %>
<center>
  <strong>Date: </strong>
  <%= @transaction.date %><br>
    <strong>Type: </strong>
  <%= @transaction.dest %><br>

  <strong>Detail: </strong>
  <%= @transaction.item %><br>

  <strong> Amount: </strong>
  $<%= @transaction.amount %><br><br>

    
<%= link_to '<button type="button">Add Receipts</button>'.html_safe, new_trip_transaction_receipt_path(@trip,@transaction) %>

 <%= link_to '<button type="button">Show Receipts</button>'.html_safe, trip_transaction_receipts_path(@trip, @transaction) %><br><br />


<%= link_to '<button type="button">Edit</button>'.html_safe, edit_trip_transaction_path(@trip,@transaction) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, [@transaction.trip, @transaction],
              method: :delete,
              data: { confirm: 'Delete data?' } %>
 </center><br>
<div style="float: left; margin-left: 8px">
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions' %></div>
<%else%>
  <% controller.redirect_to trips_path %>
<%end%>