<%= form_for ([@tripped, @imageable, @receipt])do |f| %>
<% if !@receipt.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @receipt.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>
<div class = "well">
   <table>
   
   <tr><td>
      <%= f.text_field :name %></td>
     <td> <%= f.file_field :attachment %></td>
     <td><%= f.submit "Save", class: "btn btn-primary" %></td>
         </tr>
 
      </table>
 </div>
   <% end %>