 <center><h1>Listing Daily Expenses</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Detail</th>
    <th>Amount</th>
  </tr>
 
  <% @transactions.each do |transaction| %>
    <tr>
    <td><%= transaction.dcategory.name %></td>
      <td><%= transaction.item %></td>
      <td>$<%= transaction.amount %></td>
      <td><%= link_to '<button type="button">Show</button>'.html_safe, transaction_path(transaction) %></td>

    </tr>


  <% end %>
</table>

  Total = $<%= Transaction.sum(:'amount') %> 
  
</center>
  <%= link_to '<button type="button">New</button>'.html_safe, new_transaction_path %> 