<center>

<h3>Add a transaction </h3><br>
<%= form_for :transaction, url: transactions_path do |f| %>
  
    <%= f.label :item %>
    <%= f.text_field :item %>
 
 
 
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  
  
    <%= f.submit %>

<% end %>
</center><br>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions', class: 'button' %>