
  <strong>Item: </strong>
  <%= @transaction.item %>

  <strong> Amount: </strong>
  <%= @transaction.amount %>
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_transaction_path(@transaction) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, transaction_path(@transaction),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions' %>