
  <strong>Transaction : </strong>
  <%= @transaction.item %>

  <strong> Amount: </strong>
  <%= @transaction.amount %>

<<<<<<< HEAD
<br>
Items list:
  <strong>Detail Item: </strong>
  <%= @ditem.dname %>

  <strong> Amount: </strong>
  <%= @ditem.damount %>

<h2>Add an item:</h2>
<%= form_for([@transaction, @transaction.ditems.build]) do |f| %>

    <%= f.label :item_name %>
    <%= f.text_field :dname %>
 
    <%= f.label :item_amount %>
    <%= f.text_field :damount %>

    <%= f.submit %>

<% end %>


=======
dest
  <%= @transaction.dest %>
>>>>>>> b1e8c198d09f14e42940a2afbc096ff67d0f8cdf

<%= link_to '<button type="button">Edit</button>'.html_safe, edit_transaction_path(@transaction) %> 
<%= link_to '<button type="button">Delete</button>'.html_safe, transaction_path(@transaction),
              method: :delete,
              data: { confirm: 'Delete data?' } %>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, controller: 'transactions' %>