<!DOCTYPE html> <html lang ="en">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head> 
    <meta charset = "utf-8">   
      <title>Travel Wise</title>  
      <%= favicon_link_tag 'IconBanner.png' %>
      <%= csrf_meta_tags %>  
  
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>   
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({(dateFormat: "yyyy-mm-dd")});
  } );
  </script>

  </head> 
       
  <body>
    <div id="wrapper">   
      <body style="background-color:#EDEDED;">
      <div id="banner"> 
      <div style="position:relative;bottom:27px;text-decoration: none"><a href="http://www.olemiss.edu">&nbsp;&nbsp;The University of Mississippi</a></div>

  <% if user_signed_in? %> <!-- IF USER IS SIGNED IN SHOW THE FOLLOWING:-->
        <font color=#EDEDED><p align="right"><%= current_user.email %>&nbsp;&nbsp;</font></p>
        <div style="position:relative; float:right;z-index: 1"><%= link_to destroy_user_session_path, :method => :delete do %><%= image_tag("OffButton.png", size: "30") %>
          <% end %>&nbsp;</div>
        <div style="position: relative; bottom:8px">
          <%= image_tag("IconBanner.png", :alt => "logo", size: "60") %>     
          <%= link_to controller: '/welcome' do %>       <%= image_tag("Travel_Logo.png", :alt => "logo", width: "150", height: "50")%>       <% end %></div>      
  <% else %> <!-- IF USER IS SIGNED OUT SHOW THE FOLLOWING:-->
      <div style="position: relative;float:right;z-index: 1"> 
        <%= link_to '<button class="btn3">Sign Up</button>'.html_safe, new_user_registration_path %><br>
        <%= link_to '<button class="btn3">&nbsp;Sign In&nbsp;</button>'.html_safe, new_user_session_path %></div>
      
          <div style="position: relative; bottom:-22px">
          <%= image_tag("IconBanner.png", :alt => "logo", size: "60") %>     
          <%= link_to controller: '/welcome' do %>       
          <%= image_tag("Travel_Logo.png", :alt => "logo", width: "150", height: "50")%>       
          <% end %></div><br><br>
        <% end %>
        <center>
        <%if notice %>
            <p class="notice"><%=notice%></p>
               <%elsif alert %>
    <p class="alert"><%=alert%></p> 
    <%end%>             
      <br><%= yield %> </center>        
    </div>
 </body>
 </html>